    <div class="hdr pg-view">
            <p class="txt txt-lg txt-styl-1 mgn-b-20">Smart technology for people living with epilepsy</p>
            <button class="btn btn-styl-1 mgn-b-20">Buy Now</button>
            <p class="txt txt-sm txt-styl-1">Comes with a 30-day Free Trial Subscription</p>
     </div>
    <div class="bdy-ctr pg-view">
            <div class="bdy-main-hldr flx">
                <div class="left-ctr flx-2x">
                    <img class="img mgn-b-20" src="app/assets/hompageimages/embrace_logo.png" alt="">
                    <p class="txt txt-med txt-bld mgn-b-20">
                        Your companion for epilepsy management
                    </p>
                    <p class="txt txt-sm mgn-b-20">
                            The Embrace watch uses advanced machine learning algorithms to 
                            identify toxic-clonic seizures and send alerts to caregivers. 
                            It also provides sleep, rest, and physical activity analysis.
                    </p>
                </div>
                <div class="rght-ctr flx flx-b-ctr">
                    <img class="img" srcset="app/assets/hompageimages/embrace_front-ldpi.jpg 37w,
                        app/assets/hompageimages/embrace_front-mdpi.jpg 92w,
                        app/assets/hompageimages/embrace_front-hdpi.jpg 183w,
                        app/assets/hompageimages/embrace_front-xhdpi.jpg 366w" 
                        sizes="100vw"
                        src="app/assets/hompageimages/embrace_front-hdpi.jpg" alt="">
                </div>
            </div>
            <div class="btn-hldr">
                <button class="btn btn-styl-2" ng-click="LoginPage()">
                    Discover Embrace Features
                </button>
            </div>
    </div>
    <div class="ftr">
            <div class="ftr-links flx pg-view">
                <div class="flx flx-1x flx-b-ctr">
                    <a class="a txt txt-styl-2" href="">Company</a>
                </div>
                <div class="flx flx-1x flx-b-ctr">
                    <a class="a txt txt-styl-2" href="">Careers</a>
                </div>
            </div>

            <div class="ftr-cr flx flx-b-ctr pg-view">
                <p class="txt txt-styl-2 txt-sm txt-ctr">
                    © 2017 Empatica Inc.-ISO 13485 Cert.No.9124.EPTC - All rights reserved
                </p>
            </div>
    </div>