
    <main role="main setBackGround ">

        <div class="container-fluid p-0 ">
            <div class="col-md-12 p-lg-12 mx-auto my-5 banner_text">
                <h1 class="display-5 font-weight-normal">Start technolog for people
                    <br> living with epilespy</h1>
                <a class="btn btn-outline-secondary btn_white" href="#">Buy Now</a>
                <p class="lead font-weight-normal">Comes with a 30-day free trial Subscription</p>
				<button type="button" class="btn btn-secondary btn-lg" ng-click="LoginPage()"> Login </button>

            </div>

             <picture>
             	 
	            <source media="(max-width: 650px)" sizes="(max-width: 600px) 100vw, 50vw "
	                srcset="app/assets/hompageimages/homepage_hero-sm-hdpi.jpg 100w">

	            <source media="(max-width: 800px)" sizes="(max-width: 800px) 100vw, 50vw "
	                srcset="app/assets/hompageimages/homepage_hero-lg-mdpi.jpg 100w">

	            <source media="(max-width: 1000px)" sizes="(max-width: 1000px) 100vw, 50vw "
	                srcset="app/assets/hompageimages/homepage_hero-lg-hdpi.jpg 100w">

	            <source media="(max-width: 1600px)" sizes="(min-width: 1000px) 100vw"
	            srcset="app/assets/hompageimages/homepage_hero-lg-xhdpi.jpg 100w">

	            <img class="img-fluid" src="app/assets/hompageimages/homepage_hero-lg-xhdpi.jpg" alt="First slide">
        	</picture>

            
        </div>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container">


            <!-- START THE FEATURETTES -->

            <div class="row featurette my-5">
                <div class="col-md-7">

                    <img src="app/assets/hompageimages/embrace_logo.png" class="featurette-image img-fluid mx-auto">
                    
                    <h1 class="featurette-heading my-5 light_color">Your Smartband for Epilepsy Management
                    </h1>
                    <p class="lead my-5 sub_text">Embrace uses advanced machine learning to identify convulsive seizures and send alerts to caregivers. It also provides sleep, rest, and physical activity analysis.</p>
                </div>
                <div class="col-md-5">
                    <img src="app/assets/hompageimages/embrace_front-xhdpi.jpg" class="featurette-image img-fluid mx-auto">
                </div>
            </div>

          
            <!-- /END THE FEATURETTES -->

        </div>
        <!-- /.container -->


        <!-- FOOTER -->
        <footer>

                <div class="py-6 bg-gray-300 text-muted"> 
                        <div class="container-fluid">
                          <div class="row foot">
                              <div class="col-sm-9 col-xs-9" ></div>
                            <div class="col-lg-6  col-md-6 col-md-6 mb-2 text-right">
                              <div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Company</div>
                             
                            </div>
                            <div class="col-lg-6 col-md-6 mb-2 text-left ">
                              <h6 class="font-weight-bold text-uppercase text-lg  text-dark mb-3">Careers</h6>
                             
                            </div>
                          
                          </div>
                        </div>
                      </div>

          
            <p>&copy; 2017 Empatica Inc.-ISO 13485 Cert.No.9124.EPTC - All rights reserved 
                <!-- <a href="#">Privacy</a> &middot;
                <a href="#">Terms</a> -->
            </p>
        </footer>
    </main>
